
@model MVCHelpDesk.ViewModel.ViewRol


@Html.HiddenFor(m => m.Id, new { id = "TaskID" })

<div id="div_Name" class="form-group">
    <label class="col-sm-2 control-label">Rol</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Name, new { Class = "form-control", placeholder = "Nombre del rol", id = "txtName" })
        <label id="Error_Name" class="control-label"></label>
    </div>
</div>

<div id="alert_success" class="alert alert-success" role="alert">Informacion procesada satisfactoriamente</div>
<div id="alert_danger" class="alert alert-danger" role="alert"></div>


<script>
    esconderMensajes();
</script>


