
<div id="div_Descripcion" class="form-group validate">
    <label class="col-sm-2 control-label">Descripcion</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="Descripcion" maxlength="20">
        <label id="Error_Descripcion" class="control-label" for="inputError2"></label>
    </div>
</div>

<div id="alert_success" class="alert alert-success" role="alert">Informacion procesada satisfactoriamente</div>
<div id="alert_danger" class="alert alert-danger" role="alert"></div>



<script>
    esconderMensajes();
</script>


