
@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/DatatableCSS")
@Scripts.Render("~/bundles/DatatableJS")
<h2>Requerimientos creados</h2>
<table id="tableRequerimiento" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Estatus</th>
            <th>Departamento</th>
            <th>Fecha de creacion</th>
            <th width="20%"><span class="glyphicon glyphicon glyphicon-asterisk" aria-hidden="true"></span> Acciones </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>
    $(function () {
        LoadGrid();
    });
</script>